{% extends 'base.html' %}
{% load static %}
{% block title %} Blog {% endblock title %}
{% block content %}
    <!-- page -->
    <div id="page" class="hfeed site">
        
        <!-- header -->
        <header id="masthead" class="site-header" role="banner">
 				
                <!-- site-navigation -->
                <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
                    
                    <a class="menu-toggle"><span class="lines"></span></a>
                    
                    <!-- nav-menu -->
                    <div class="nav-menu">
                        <ul>
                            <li><a href="{% url 'home-page'%}">Home</a>
                                <!-- level 2 -->
                            </li>
                            <li><a href="{% url 'blog-page'%}">Blogs</a>
                            <li><a href="{% url 'portfolio-page' %}">Portfolio</a></li>
                            <li><a href="{% url 'books-page'%}">Books</a></li>
                            <li><a href="{% url 'gallery-page'%}">Gallery</a></li>
                            <li><a href="{% url 'about-page'%}">About Me</a>
                                <!-- level 2 -->
        
                            <li><a href="{% url 'contact-page'%}">Contact</a></li>
                        </ul>
                    </div>
                    <!-- nav-menu -->
                    
                    <a class="search-toggle toggle-link"></a>
                                        
                    <!-- search-container -->
                    <div class="search-container">
                        
                        <div class="search-box">
                            <form role="search" method="get" class="search-form" action="#">
                                <label>Search for
                                    <input type="search" id="search-field" placeholder="type and hit enter" name="s">
                                </label>
                                <input type="submit" class="search-submit" value="Search">
                            </form>
                        </div>
                    
                    </div>
                    <!-- search-container -->
                    
                    <!-- social-container -->
                    <div class="social-container">
                        
                        <ul class="social">
                            <li><a class="facebook" href="#"></a></li>
                            <li><a class="twitter" href="#"></a></li>
                            <li><a class="vine" href="#"></a></li>
                            <li><a class="dribbble" href="#"></a></li>
                            <li><a class="instagram" href="#"></a></li>
                        </ul>
                      
                        
                    </div>
                    <!-- social-container -->
                    
                </nav>
                <!-- site-navigation -->
                           
                <!-- site-title -->
                <h1 class="site-title">
                	<a href="{% url 'home-page' %}" rel="home">
                    	<img src="{% static 'images/site/logo.png' %}" alt="logo">
                        <!--EDITOR-->
                    </a>
                </h1>
                <!-- site-title -->
                
                
                <!--<h1 class="site-title">
                	<a href="../index.html" rel="home">
                        EDITOR
                    </a>
                </h1>
                <p class="site-description">just another minimalist theme.</p>-->

                
        </header>
        <!-- header -->
        
        
        
        
        <!-- site-main -->
        <div id="main" class="site-main">
        
        
        
        	            
            <!-- primary -->
        	<div id="primary" class="content-area">
            	
                <!-- site-content -->
                <div id="content" class="site-content" role="main">
                
                
                
                
                	
                    
                    <!-- InstanceBeginEditable name="FeaturedContent" -->
					
                    					
					<!-- InstanceEndEditable -->
                	
                    
                    
                    <!-- layout-medium -->
                	<div class="layout-medium">
                    
                    
                    
						<!-- InstanceBeginEditable name="LayoutMediumContent" -->
                		
                        
                        <!-- entry-header -->
                        <header class="entry-header">
                        	<h1 class="entry-title">LATEST STORIES</h1>
                        </header>
                        <!-- entry-header -->
                        
                
                
                    	<!-- BLOG MASONRY -->
                        <div class="masonry blog-masonry" data-layout="masonry" data-item-width="340">
                            
                            
                            <!-- .hentry -->
                             {%  for blog in blog %}
                            <article class="hentry post format-video">
                            
                                <!-- .featured-image -->
                                <div class="featured-image">
                                    <a href="#"><img src="{{blog.image.url}}" alt="blog-image" style="width: 300px; height:250px"></a>
                                </div>
                                <!-- .featured-image -->
                                
                                
                                <!-- .entry-header -->
                                
                                <header class="entry-header">
                                    
                                    <!-- .entry-title -->
                                    <h1 class="entry-title"><a href="#">{{blog.title}}</a></h1>
                                    
                                    
                                    <!-- .entry-meta -->
                                    <div class="entry-meta">
                                        <span class="entry-date">
                                            <time class="entry-date" >{{blog.created_date}}</time>
                                        </span> 
                                        <span class="comment-link">
                                            <a href="blog-single.html#comments">124 Comments</a>
                                        </span>
                                        <span class="read-time"><span class="eta"></span> read</span>
                                        <span class="cat-links">
                                            <a href="#" title="View all posts in Adventure" rel="category tag">LIFE</a>
                                        </span>	
                                    </div>
                                    <!-- .entry-meta -->
                                    
                                    
                                </header>
                                <!-- .entry-header -->
                                
                                <!-- .entry-content -->
                                <div class="entry-content">
                                                                    
                                	<p>{{blog.description}}
                                        <span class="more">
                                            <a href="blog-single.html" class="more-link">Continue reading <span class="meta-nav">→</span></a>
                                        </span>
                                    </p>
                                   
                                </div>
                                <!-- .entry-content -->
                                
                                
                            </article>
                            <!-- .hentry -->
                            
                            {% endfor %}
                            
                           
                            
                            
                            
                          
                            <!-- .hentry -->
                            
                            
                            
                            
                            
                           
                        
                            <!-- .hentry -->
                            
                            
                            <!-- .hentry -->
                            
                           
                            
                            
                            
                            <!-- .hentry -->
                           
                            
                            
                            
                            
                            <!-- .hentry -->
                           
                            
                            
                           
                            
                            
                            
                                                          
                          
                        </div>
                        <!-- BLOG MASONRY -->
               
                    	
                            
                        
                        <!-- .navigation .pagination -->
                        <nav class="navigation pagination" role="navigation">
                            
                            <h2 class="screen-reader-text">Posts navigation</h2>
                            
                            <!-- .nav-links -->
                            <div class="nav-links">
                                <a class="page-numbers prev" href="#">Prev</a>
                                <a class="page-numbers" href="#"><span class="meta-nav screen-reader-text">Page </span>1</a>
                                <span class="page-numbers dots">…</span>
                                <a class="page-numbers" href="#"><span class="meta-nav screen-reader-text">Page </span>4</a>
                                <span class="page-numbers current"><span class="meta-nav screen-reader-text">Page </span>5</span>
                                <a class="page-numbers" href="#"><span class="meta-nav screen-reader-text">Page </span>6</a>
                                <span class="page-numbers dots">…</span>
                                <a class="page-numbers" href="#"><span class="meta-nav screen-reader-text">Page </span>8</a>
                                <a class="page-numbers next" href="#">Next</a>
                            </div> 
                            <!-- .nav-links -->
                            
                        </nav> 
                        <!-- .navigation .pagination -->
              
                                    
                <!-- InstanceEndEditable -->
                    	
                        
                    	
                    </div>
                    <!-- layout-medium -->
                    
                    
                
                
                	
                
                </div>
                <!-- site-content -->
                
            </div>
            <!-- primary -->    
        
        
        
        
        </div>
        <!-- site-main -->
        
        {% endblock content %}